{% extends 'base.html.twig' %}

{% block title %}NindeSoft ~ Créer un utilisateur{% endblock %}

{% block body %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion des utilisateurs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Utilisateurs</a></li>
              <li class="breadcrumb-item active">Nouveau</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">            

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Créer un nouvel utilisateur</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">                
                    {{form_start(form)}}
                <div class=" row">
                    <div class="col">
                    {{form_row(form.nom)}}
                    </div>
                    <div class="col">
                    {{form_row(form.prenom)}}
                    </div>
                </div>
                <div class=" row">
                    <div class="col">
                    {{form_row(form.email)}}
                    </div>
                    <div class="col">
                    {{form_row(form.hash)}}
                    </div>
                    <div class="col">
                    {{form_row(form.commune)}}
                    </div>
                    <div class="col">
                    {{form_row(form.province)}}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Valider la création</button>
                {{form_end(form)}}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
