{% extends "base.html.twig" %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Centre de données</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Centre de données</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner text-center">
                <p><strong>Bucanayandi Jean Baptiste</strong></p>
              </div>
            </div>
          </div>
        </div>

        
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Mariages
                </h3>                
              </div><!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for perfProv in stats.performancesProvince %}
                  <tr>
                    <td>{{perfProv.provinceNaissance}}</td>
                    <td>{{perfProv.nbrNaissances}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </section>
          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Enfants
                </h3>                
              </div><!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for perfProv in stats.performancesProvince %}
                  <tr>
                    <td>{{perfProv.provinceNaissance}}</td>
                    <td>{{perfProv.nbrNaissances}}</td>
                  </tr>                      
                  {% endfor %}                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </section>
        </div>
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Inscriptions naissances
                </h3>                
              </div><!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for perfProv in stats.performancesProvince %}
                  <tr>
                    <td>{{perfProv.provinceNaissance}}</td>
                    <td>{{perfProv.nbrNaissances}}</td>
                  </tr>                      
                  {% endfor %}                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </section>
          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Divorces
                </h3>                
              </div><!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for perfProv in stats.performancesProvince %}
                  <tr>
                    <td>{{perfProv.provinceNaissance}}</td>
                    <td>{{perfProv.nbrNaissances}}</td>
                  </tr>                      
                  {% endfor %}                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Province</th>
                    <th>Naissances</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </section>
        </div>    
    </div>
    </section>
  <!-- /.content-wrapper -->
 
{% endblock %}
