{% extends 'base.html.twig' %}

{% block title %}Andikwa ~ Attestation naissance{% endblock %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Attestation de Naissance de: {{naissance.personne.nom}} {{naissance.personne.prenom}}</h1>
          </div>
          <div class="col-sm-6">
            
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
            


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
            
            <div class="row">
                <div class="col-10">
                    <h4>
                        <i class=""></i> REPUBLIQUE DU BURUNDI
                        <small class="float-right">Date: {{ "now"|date("m/d/Y") }}</small>
                    </h4>
                </div>
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-5 invoice-col">                    
                    MINISTERE DE L'INTERIEUR ET DE LA SECURITE PUBLIQUE
                    <address>
                    PROVINCE {{naissance.provinceNaissance}}<br>                    
                    COMMUNE {{naissance.communeNaissance}}<br>
                    Téléphone: (+257) 123-5432
                    <hr>
                    </address>
                </div>
            <!-- /.col -->                
            </div>
              <!-- /.row -->
              
              <!-- info row -->
            <div class="row invoice-info">
            <div class="col-sm-10 invoice-col ">
                <p>Je soussigné, ..............................., Officier d'Etat Civil,
                atteste par la présente que le(e) nommé(e) <strong>{{naissance.personne.nom}}</strong> <strong>{{naissance.personne.prenom}}</strong> est né à <strong>{{naissance.collineNaissance}}</strong>, zone <strong>{{naissance.zoneNaissance}}</strong>
                commune <strong>{{naissance.communeNaissance}}</strong> province <strong>{{naissance.provinceNaissance}}</strong>.
                </p>
                <p>La présente attestation est établie en présence de ses témoins <strong>{{naissance.nomCompletTemoinUn}}</strong> résidant
                à <strong>{{naissance.adresseTemoinUn}}</strong>, <strong>{{naissance.professionTemoinUn}}</strong> et <strong>{{naissance.nomCompletTemoinUn}}</strong> résidant
                à <strong>{{naissance.adresseTemoinUn}}</strong>, <strong>{{naissance.professionTemoinUn}}</strong>.
                <br>
                <br>
                </p>            
            </div>
          </div>
              <!-- /.row -->
              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">                  
                </div>
               
                <div class="col-6">
                  <p class="lead"></p>
                  
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead"><strong>Fait à {{naissance.communeNaissance}}</strong>,  le {{ "now"|date("m/d/Y") }}</p>
                  <p class="lead">L'Officier de l'Etat Civil</p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="{{ path('admin_naissances_print', {'id': naissance.id}) }}" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
