{% extends 'base.html.twig' %}

{% block title %}NindeSoft ~ Attestation naissance{% endblock %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Attestation de Naissance de: {{naissance.personne.nom}} {{naissance.personne.prenom}}</h1>
          </div>
          <div class="col-sm-6">
            
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
            


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
            
            <div class="row">
                <div class="col-10">
                    <h4>
                        <i class="fas fa-globe"></i> REPUBLIQUE DU BURUNDI
                        <small class="float-right">Date: 2/10/2014</small>
                    </h4>
                </div>
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-5 invoice-col">
                    REPUBLIQUE DU BURUNDI<br>
                    MINISTERE DE L'INTERIEUR ET DE LA SECURITE PUBLIQUE
                    <address>
                    PROVINCE {{naissance.provinceNaissance}}<br>                    
                    COMMUNE {{naissance.communeNaissance}}<br>
                    Téléphone: (+257) 123-5432
                    <hr>
                    </address>
                </div>
            <!-- /.col -->                
            </div>
              <!-- /.row -->
              
              <!-- info row -->
            <div class="row invoice-info">
            <div class="col-sm-10 invoice-col ">
                <p>Je soussigné, ...........................
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, 
                movity jajah plickers sifteo edmodo ifttt zimbra.
                </p>
                <p>La présente attestation est établie en présence des témoins <strong>{{naissance.nomCompletTemoinUn}}</strong> résidant
                à <strong>{{naissance.adresseTemoinUn}}</strong>, <strong>{{naissance.professionTemoinUn}}</strong> et <strong>{{naissance.nomCompletTemoinUn}}</strong> résidant
                à <strong>{{naissance.adresseTemoinUn}}</strong>, <strong>{{naissance.professionTemoinUn}}</strong>.

                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, 
                movity jajah plickers sifteo edmodo ifttt zimbra.
                </p>            
            </div>
              <!-- /.row -->
              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">                  
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead"></p>
                  

                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                    plugg
                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead"><strong>Fait à {{naissance.communeNaissance}}</strong></p>
                  
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="{{ path('admin_naissances_print', {'id': naissance.id}) }}" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                  </button>
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
