{% extends 'base.html.twig' %}

{% block title %}Andikwa ~ Registre des décès{% endblock %}

{% block body %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registre des personnes décédées</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Décès</a></li>
              <li class="breadcrumb-item active">Liste</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">            

            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Décédé(e) le</th>
                    <th>Lieu décès</th>
                    <th>Cause décès</th>
                    <th>Demandeur d'enregistrement</th>
                    <th>Adresse demandeur</th>
                    <th>Téléphone demandeur</th>
                    <th>N° acte décès</th>
                    <th>N° Volume</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for dece in deces %}
                  <tr>
                    <td>{{dece.id}}</td>
                    <td>{{dece.personne.nom}}</td>
                    <td>{{dece.personne.prenom}}</td>
                    <td>{{dece.personne.sexe}}</td>
                    <td>{{dece.dateDeces | date("d/m/Y")}}</td>
                    <td>{{dece.lieuDeces}}</td>
                    <td>{{dece.causeDeces}}</td>
                    <td>{{dece.nomCompletDemandeur}}</td>
                    <td>{{dece.adresseDemandeur}}</td>
                    <td>{{dece.phoneDemandeur}}</td>
                    <td>{{dece.numeroActeDeces}}</td>
                    <td>{{dece.numeroVolume}}</td>
                    <td></td>
                  </tr>                      
                  {% endfor %}                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Décédé(e) le</th>
                    <th>Lieu décès</th>
                    <th>Cause décès</th>
                    <th>Demandeur d'enregistrement</th>
                    <th>Adresse demandeur</th>
                    <th>Téléphone demandeur</th>
                    <th>N° acte décès</th>
                    <th>N° Volume</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
