{% extends 'base.html.twig' %}

{% block title %}Andikwa ~ Enregistrer une personne{% endblock %}

{% block body %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registre des personnes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Personnes</a></li>
              <li class="breadcrumb-item active">nouvelle</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">            

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Enregistrer une nouvelle personne dans le registre de l'Etat Civil</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {{form_start(form)}}
                <div class="row">
                  <div class="col">
                  {{form_row(form.nom)}}
                  </div>
                  <div class="col">
                  {{form_row(form.prenom)}}
                  </div>
                  <div class="col">
                  {{form_row(form.dateNaissance)}}
                  </div>
                  <div class="col">
                  {{form_row(form.paysNaissance)}}
                  </div>
                </div>
                <hr class="bg-danger">
                <div class="row">
                  <div class="col">
                  {{form_row(form.provinceNaissance)}}
                  </div>
                  <div class="col">
                  {{form_row(form.communeNaissance)}}
                  </div>
                  <div class="col">
                  {{form_row(form.zoneNaissance)}}
                  </div>
                  <div class="col">
                  {{form_row(form.collineNaissance)}}
                  </div>
                  <div class="col">
                  {{form_row(form.sexe)}}
                  </div>
                  <div class="col">
                  {{form_row(form.statusVital)}}
                  </div>
                </div>
                <hr class="bg-danger">
                <div class="row">
                  <div class="col">
                  {{form_row(form.provinceResidence)}}
                  </div>
                  <div class="col">
                  {{form_row(form.communeResidence)}}
                  </div>
                  <div class="col">
                  {{form_row(form.zoneResidence)}}
                  </div>
                  <div class="col">
                  {{form_row(form.collineResidence)}}
                  </div>
                  <div class="col">
                  {{form_row(form.nationalite)}}
                  </div>
                  <div class="col">
                  {{form_row(form.numeroCarteNationaleIdentite)}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                  {{form_row(form.profession)}}
                  </div>
                  <div class="col">
                  {{form_row(form.photo)}}
                  </div>
                  <div class="col">
                  {{form_row(form.pin)}}
                  </div>
                  <div class="col">
                  {{form_row(form.pere)}}
                  </div>
                  <div class="col">
                  {{form_row(form.mere)}}
                  </div>
                </div>
                <button type="submit" class="btn btn-info">Valider l'inscription</button>
                {{form_end(form)}}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
