{% extends 'base.html.twig' %}

{% block title %}Andikwa ~ Demandes de documents{% endblock %}

{% block body %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste des demandes de documents</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Demandes documents</a></li>
              <li class="breadcrumb-item active">Liste</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>N°</th>
                    <th>Date demande</th>
                    <th>Demandé en commune</th>
                    <th>Frais payés</th>
                    <th>Status</th>
                    <th>Pièce justificative</th>
                    <th>Demandeur</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for demande in demandes %}
                  <tr>
                    <td>{{demande.id}}</td>
                    <td>{{demande.dateDemande | date("d/m/Y")}}</td>
                    <td>{{demande.lieuDemande}}</td>
                    <td>{{demande.fraisTotalDemande}}</td>
                    <td>{{demande.statusDemande}}</td>
                    <td>{{demande.numeroRecuPaiement}}</td>
                    <td>{{demande.personne.nom}} {{demande.personne.prenom}}</td>
                    <td>
                      <a href="#" class="btn btn-xs btn-primary mb-2"><i class="fas fa-pencil-alt"></i></a>
                      <a href="#" class="btn btn-xs btn-danger mb-2"><i class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr> 
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>N°</th>
                    <th>Date demande</th>
                    <th>Demandé en commune</th>
                    <th>Frais payés</th>
                    <th>Status</th>
                    <th>Pièce justificative</th>
                    <th>Demandeur</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
