{% extends 'base.html.twig' %}

{% block title %}Andikwa ~ Demande de document{% endblock %}

{% block body %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Demande de document d'Etat Civil</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Demande</a></li>
              <li class="breadcrumb-item active">nouvelle</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">            

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Fiche de demande de document d'Etat Civil</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
          <form action="" method="post">
            <div class="card">
                <div class="card-body"> 
                  <!-- ENTETE FACTURE -->
                  {{form_start(form)}}
                  <div class="row">        
                    <div class="col-md-2 bg-light">
                      {{form_row(form.dateDemande)}}
                    </div>
                    <div class="col-md-3 bg-light"> 
                      {{form_row(form.lieuDemande)}}
                    </div>
                    <div class="col-md-2 bg-light">
                      {{form_row(form.statusDemande)}}
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-md-2 bg-light">
                      {{form_row(form.numeroRecuPaiement)}}
                    </div>                    
                    <div class="col-md-5 bg-light">
                      {{form_row(form.personne)}}
                    </div>
                  </div>
                  {{form_end(form)}}
                    <a href="{{ path('admin_demandes_index') }}">Retour liste</a>
                
                  <div class="col-md-8"></div>
                </div>
                <!-- FIN ENTETE FACTURE -->
                <!-- LIGNE DE RECHERCHE PRODUIT -->            
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Désignation du document</th>
                        <th scope="col">N° Acte</th>
                        <th scope="col">N° Volume</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Frais/unité</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{form_widget(formDetail.document)}}</td> 
                        <td>{{form_widget(formDetail.numeroActe)}}</td>
                        <td>{{form_widget(formDetail.numeroVolume)}}</td>       
                        <td>{{form_widget(formDetail.quantite)}}</td>
                        <td>{{form_widget(formDetail.fraisUnitaire)}}</td>          
                        <td><input type="submit" value="Ajouter" name="bt" class="btn btn-primary text-white"></td>
                    </tr>
                    
                    </tbody>
                </table>
                <!-- FIN LIGNE DE RECHERCHE PRODUIT -->
                <!-- TABLE DETAILS -->  
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Désignation du document</th>
                        <th scope="col">N° Acte</th>
                        <th scope="col">N° Volume</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Frais/unité</th>
                        <th scope="col">Montant</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lineDemande in lineDemandes %}
                    <tr>
                        <td class="col-md-1">{{lineDemande.document.type}}</td>
                        <td class="col-md-1">{{lineDemande.numeroActe}}</td>
                        <td class="col-md-1">{{lineDemande.numeroVolume}}</td>
                        <td class="col-md-1">{{lineDemande.quantite}}</td>       
                        <td class="col-md-1">{{lineDemande.fraisUnitaire | number_format(2)}}</td>
                        <td class="col-md-1">{{(lineDemande.quantite * lineDemande.fraisUnitaire) | number_format(2)}}</td>
                        <td>
                            <input type="submit" value="Supprimer" name="bt" class="btn btn-danger text-white">
                        </td>
                    </tr>
                    {% set total = total + (lineDemande.quantite * lineDemande.fraisUnitaire) %}                    
                    {% endfor %}       
                    </tbody>            
                </table>
      
                <!-- FIN TABLE DETAILS -->
                <hr>
                <!-- RECAPITUALTIF -->
                <tfooter>
                    <table class="table table-condensed">
                        <tr class="col-3">
                        <td><strong>Total: </strong></td><td><strong>{{total | number_format(2)}}</strong></td>
                        </tr>
                    </table>
                <tfooter>
                <!-- END RECAPITULATIF -->
                <div class="mt-3">
                    <input type="submit" value="Valider" name="bt" class="btn btn-info">
                </div>
              </div>
            
        </div>
     </form>     
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
